.blog_cards{border: 5px solid #ccc;
width: 400px;
height: 600px;
padding: 30px 40px ;
font-family: 'Hind Siliguri', sans-serif;
display: inline-block;
margin: 0 auto 30px auto;
text-align: center;
border-radius: 25px 25px 25px 25px;
background-image:url(../blake-wisz-4Z0oC2NHAOo-unsplash.jpg);
background-color: rgba(0, 0, 0, 0.534);
background-blend-mode: multiply;
background-size: cover;
background-position: right top;
color:rgba(0, 255, 42, 0.445)}
.blog_cards a {color:rgba(0, 255, 42, 0.445);
          text-decoration:none}
      p{font-size: 16px;
          text-align: justify;
          text-height:24px;
}
.blog{border: 5px solid #ccc;
          width: 400px;
          height: 600px;
          padding: 30px 40px ;
          font-family: 'Hind Siliguri', sans-serif;
          display: inline-block;
          margin: 0 auto 30px auto;
          text-align: center;
          border-radius: 25px 25px 25px 25px;
          background-image:url(https://images.unsplash.com/photo-1468234847176-28606331216a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1177&q=80);    background-color: rgba(36, 36, 30, 0.301);
          background-blend-mode: multiply;
          background-size: cover;
          background-position: right top;
          color:rgba(0, 255, 191, 0.596);}
          .blog a {color:rgba(0, 255, 42, 0.445);
                    text-decoration:none;}
                p{font-size: 16px;
                    text-align: center;
                    text-height:24px;
                   
          }
          .blog{ background-image:linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);}